absl-py==0.9.0
alabaster==0.7.12
astor==0.8.1
Babel==2.8.0
backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
cheroot==8.3.0
CherryPy==18.6.0
cloudpickle==1.4.1
colorama==0.4.3
commonmark==0.9.1
configobj==5.0.6
cycler==0.10.0
Cython==0.29.15
darkflow==1.0.0
decorator==4.4.1
docutils==0.16
future==0.18.2
fvcore==0.1
gast==0.2.2
gluoncv==0.7.0
google-pasta==0.1.8
graphviz==0.8.4
grpcio==1.27.2
h5py==2.10.0
idna==2.6
imageio==2.8.0
imagesize==1.2.0
imgaug==0.4.0
ipython==7.13.0
ipython-genutils==0.2.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
jedi==0.16.0
Jinja2==2.11.2
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.2.1
MarkupSafe==1.1.1
mask-rcnn==2.1
matplotlib==3.1.3
mock==4.0.1
more-itertools==8.2.0
mxnet==1.6.0
networkx==2.4
numpy==1.16.6
onnx==1.6.0
onnx2keras==0.0.18
opencv-python==4.2.0.32
opt-einsum==3.1.0
packaging==20.3
pandas==1.0.1
parso==0.6.2
pickleshare==0.7.5
Pillow==6.2.2
portalocker==1.7.0
portend==2.6
prompt-toolkit==3.0.4
protobuf==3.11.3
pydot==1.4.1
Pygments==2.6.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
PyYAML==5.3
recommonmark==0.6.0
requests==2.18.4
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
Shapely==1.7.0
six==1.14.0
sklearn==0.0
snowballstemmer==2.0.0
Sphinx==3.0.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tabulate==0.8.7
tempora==3.0.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
torch==1.4.0+cu92
torchvision==0.7.0a0+7a2d061
tqdm==4.43.0
traitlets==4.3.3
typing-extensions==3.7.4.1
urllib3==1.22
wcwidth==0.1.8
Werkzeug==1.0.0
wincertstore==0.2
wrapt==1.11.2
yacs==0.1.7
zc.lockfile==2.0
